.idea/
.bsp/
.bloop/
.vscode/
.metals/
target/
testdb/
airports/
benchmark/imdb/
benchmark/data/
/backup/
backup.zip
db/
backups/
metals.sbt
derby.log
CLAUDE.md
*report-*.json
benchdb/
benchmarks.json